@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Prompt', sans-serif;
}